@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	background: #c4c4c4;
	font-size: 14px;
	line-height: 20px;
}

.resume_wrapper{
	display: flex;
	width: 800px;
	margin: 50px auto;
	background: #fff;
	padding: 10px;
}

.resume_wrapper .resume_left{
	width: 35%;
	background: #26252d;
    padding-right: 5px; 
    padding-left: 5px; 

}

.resume_wrapper .resume_left .resume_image{
	width: 100%;
}

.resume_wrapper .resume_left .resume_image img{
	width: 100%;
	display: block;
}

.resume_wrapper .resume_title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
	letter-spacing: 3px;
}

.resume_wrapper .resume_left .resume_info{
	color: #84838b;
    text-align: justify; 
}

.resume_wrapper .resume_left .resume_bottom{
	padding: 20px 30px;
}

.resume_wrapper .resume_item{
	padding: 20px 0;
	border-bottom: 1px solid #0175b2;
}

.resume_wrapper  .resume_item:last-child{
	border-bottom: 0;
}

.resume_wrapper .resume_left .resume_namerole{
	display: none;
}

.resume_wrapper .resume_namerole .name{
	font-size: 25px;
    font-style: normal;
	color: #fff;
	font-weight: 700;
    text-align: center; 
	margin-bottom: 5px;
	letter-spacing: 6px;
    display: block; 
    font-family: "Playwrite HR Lijeva", cursive;

}

.resume_wrapper .resume_namerole .role{
    font-size: 20px;
    font-style: normal;
	color: #fff;
	font-weight: 700;
    text-align: center;
    padding: 5px;

}

.resume_wrapper .resume_left .resume_contact .resume_info:last-child{
	 margin-top: 10px;
}

.resume_wrapper .resume_left .resume_contact .resume_subtitle{
	color: #fff;
	margin-bottom: 2px;
}

.resume_wrapper .resume_left .resume_skill .skill_list{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_skill .skill_list .skill_bar p{
	position: relative;
	width: 125px;
    height: 20px;
    background: #fff;
}

.resume_wrapper .resume_left .resume_skill .skill_list .skill_bar p span{	
	position: absolute;
	top: 0;
	left: 0;
	background: #0175b2;
	width: 100%;
	height: 100%;
}

.resume_wrapper .resume_right{
	width: 65%;
	padding: 20px 40px;
	color: #26252d;
}

.resume_wrapper .resume_right .resume_namerole .name{
	color: #26252d;
	font-size: 40px;
}

.resume_wrapper .resume_right .resume_namerole .role{
	font-size: 20px;
	text-transform: uppercase;
    color: #26252d;
    padding: 10px;
}

.resume_wrapper .resume_right .resume_item .resume_title{
	color: #26252d;
}

.resume_wrapper .resume_right .resume_data{
	display: flex;
}

.resume_wrapper .resume_right .resume_data .time{
	padding-right: 35px;
	width: 115px;
	position: relative;
}

.resume_wrapper .resume_right .resume_data .content{
	padding-left: 35px;
	margin-bottom: 20px;
	width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .content p {
    text-align: justify; 
}

.resume_wrapper .resume_right .resume_data .time:before{
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 1px solid #26252d;
	border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .time:after{
	content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #0175b2;
}

.resume_wrapper .resume_right .resume_data:last-child .time:after{
	display: none;
}

.resume_wrapper .resume_right .resume_reference .resume_info{
	display: flex;
	justify-content: space-between;
	text-align: left;
}


@media screen and (max-width: 800px){
	.resume_wrapper .resume_right .resume_namerole{
		display: none;
	}
	.resume_wrapper .resume_left .resume_namerole{
		display: block;
	}
	.resume_wrapper{
		width: 95%;
		margin: 10px auto;
		flex-direction: column;
	}
	.resume_wrapper .resume_left,
	.resume_wrapper .resume_right{
		width: 100%;
	}
}

@media screen and (max-width: 424px){
	.resume_wrapper .resume_right{
		padding: 20px 30px;
	}
	.resume_wrapper .resume_right .resume_data{
		flex-direction: column;
	}
	.resume_wrapper .resume_right .resume_data .time{
		padding: 0;
		margin-bottom: 5px;
		width: 100%;
		color: #0175b2;
	}
	.resume_wrapper .resume_right .resume_data .time:before,
	.resume_wrapper .resume_right .resume_data .time:after{
		display: none;
	}
	.resume_wrapper .resume_right .resume_data .content{
		width: 100%;
		padding: 0;
	}
}
